.profile {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 500px;
  margin-bottom: 25px;
}
.stats {
  display: flex;
  background-color: #f3f6f9;
  padding: 0;
  margin: auto;
  list-style: none;
  justify-content: center;
}
li {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8ef;
  text-align: center;
  flex: 0 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.description {
  background-color: white;
  margin: auto;
  padding: 20px 30px;
  text-align: center;
  border-radius: 24px;
}
.avatar {
  border-radius: 50%;
  border: 2px solid #e2e8ef;
  width: 300px;
  background-color: hsla(215, 98%, 79%, 0.4);
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}
